a {
color: #77aaff;
text-decoration: none;
}
 
a:hover {
color: #88bbff;
text-decoration: underline;
}

a#viewSource {
display: block;
font-size: 18px;
margin: 30px 0 0 0; 
border-top: 1px solid #999;
padding: 20px 0 0 0;
}
 
div#links a {
display: block;
line-height: 2em; 
}

body {
background: #666;
font-family: Arial, sans-serif;
padding: 20px;
}

button {
margin: 0 10px 0 0;
/* 
padding: 5px;
min-width: 70px;
font-size: 1.2em;
 */
}

button[disabled] {
color: white;
}
 
div#container {
background: #000;
margin: 0 auto 0 auto;
padding: 15px 30px 20px 30px;
max-width: 720px;
}
 
h1 {
border-bottom: 1px solid #aaa;
color: white;
font-family: Arial, sans-serif;
margin: 0 0 30px 0;
padding: 0 0 10px 0;
}
 
h2 {
color: #ccc;
font-family: Arial, sans-serif;
margin: 30px 0 0 0;
}

html {
/* avoid annoying page width change 
when moving from the home page */
overflow-y: scroll;
}
 
img {
border: none;
}
 
p {
color: #eee;
font-size: 18px;
line-height: 1.2em;
}

p#data {
font-family: monospace;
line-height: 1.2em;
max-height: 1000px;
overflow-y: auto;
border-top: 1px dotted #666;
padding: 16px 0 0 0;
}

p.borderBelow {
border-bottom: 1px solid #aaa;
padding: 0 0 20px 0;
}

video {
background: #222;
}

@media screen and (min-width: 1000px) {
  video {
    width: 720px;
  }
}

@media screen and (max-width: 1000px) {
  video {
    width: 100%;
  }
}


