.rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
}

@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0) scale(1);
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
  }

  50% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-2000deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(2000deg) scale(1);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
}

@keyframes rotateOut {
  0% {
    transform-origin: center center;
    transform: rotate(0) scale(1);
    opacity: 1;
    animation-timing-function: ease-in;
  }

  50% {
    transform-origin: center center;
    transform: rotate(-2000deg) scale(0);
    opacity: 0;
  }
  100% {
    transform-origin: center center;
    transform: rotate(2000deg) scale(1);
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

a#viewSource {
	bottom: 1em;
	position: absolute;
	width: calc(100% - 6em);
	width: -webkit-calc(100% - 6em);
}

body, html {
	height: 100%;
}

body {
	background-color: darkRed;
}

div#container {
	background-color: black;
	background-image: url(../images/curtains.jpg);
	background-position: 130% 100%;
	background-repeat:  no-repeat;
	background-size: 90%;
	height: 100%;
	max-width: 100%;
}

video#chrome {
  opacity: 1;
/*  transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s /*ease-in-out */; */
}

video#chrome.transparent {
  opacity: 0;
}

video#video1, video#video2  {
	animation-duration: 3s;
  -webkit-animation-duration: 3s;
	background: transparent;
	position: absolute;
}

video#video1 {
	bottom: 10px;
	left: 5px;
	width: 18%;
	z-index: 1;
}

video#video2 {
	bottom: 35px;
	right: 10px;
	width: 33%;
  z-index: 1;
}
