.show {
  display: block;
}

button {
  margin: 0 3px 20px 0;
  width: 99px;
}

button:last-of-type {
  margin: 0;
}

canvas {
  display: none;
}

img {
  display: block;
}

input[type=range] {
  display: none;
  margin: 0 0 20px 0;
}

.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

video {
  height: 232px;
  margin: 0 12px 20px 0;
  vertical-align: top;
  width: calc(20em - 10px);
}

@media screen and (max-width: 500px) {
  button {
    font-size: 0.8em;
    width: calc(33% - 5px);
  }
}

@media screen and (max-width: 720px) {
  video {
    height: calc((50vw - 48px) * 3 / 4);
    margin: 0 10px 10px 0;
    width: calc(50vw - 48px);
  }
}
