.hidden {
  display: none;
}

div.match {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

div#itemNavigation {
  border-bottom: 1px solid #eee;
  color: rgb(230, 0, 0);
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
}

div#nextPage {
  float: right;
}

div#nextPage:hover {
  color: #3d85c6;
}

div#prevNext {
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
}

div#prevNext div {
  color: #4183C4;
  cursor: pointer;
  margin: 0 0 0.5em 0;
}

div#previousPage {
  float: left;
}

div#previousPage:hover {
  color: #3d85c6;
}

div#queryInfo {
  color: #888;
  font-size: 0.9em;
  margin: 0 0 1.5em 0;
}

input#query {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 1em 0;
  padding: 3px;
  width: 165px;
}

label[for=query] {
  margin: 0 10px 0 0;
}

@media (min-width: 350px) {
  input#query {
    width: 210px;
  }
}