section {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: 100px auto 100px;
}

section div {
  background-color: #444;
  border-radius: 5px;
  color: #fff;
  padding: 20px;
  text-align: center;
}
