body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  margin: 20px;
}

.code {
  background-color: #28323f;
  color: white;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  white-space: pre;
}

.container {
  background-color: white;
  box-shadow: 1px 1px 16px #ccc;
  margin: 40px auto;
  max-width: calc(100% - 40px);
  overflow-x: hidden;
  padding: 0 20px 0 20px;
  width: 800px;
}

.duration {
  color: #aaa;
  font-size: 16px;
  font-weight: 500;
}

.note {
  background-color: #ded;
  border-color: #6a6;
  color: #464;
}

.warning {
  background-color: #fed;
  border-color: #db8a61;
  color: #842;
}

article {
  display: inline-block;
  width: 600px;
}

aside {
  border-left: 3px solid;
  margin: 0 0 1em 0;
  padding: 5px 5px 5px 10px;
}

blockquote {
  font-size: 14px;
  margin: 0 0 2em 0;
  padding: 0 1em 1.7em 1em;
}

body {
  background: #eee;
  margin: 0;
}

code {
  font-family: 'Source Code Pro', 'Courier New', monospace;
}

h1 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

h2 {
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

header {
  background-color: #1e88e5;
  padding: 1em;
}
