div#videos {
  position: relative;
}

#videos video {
  position: absolute;
}

#videos video:last-of-type {
-webkit-clip-path: inset(0 30% 0 0);
}

#videos input[type=range] {
  position: absolute;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
}
