.hidden {
  height: 0; /* to enable opacity transition: doesn't work if setting display */
  margin: 0;
  opacity: 0;
  overflow: hidden;
}

.highlight {
  color: #c83f3f !important;
}

.shadow-bottom {
  box-shadow: 0 19px 19px -8px rgba(100,100,100,0.3);
  moz-box-shadow: 0 15px 16px -8px rgba(100,100,100,0.4);
}

body {
  color: #444;
  counter-reset: line-number;
  font-family: Palatino, serif;
  height: 100%;
  margin: 0;
  padding: 30px 20px;
  word-break: break-word;
}

div#container {
  height: 100%;
  margin: 0 auto 0 auto;
  max-width: 550px;
}

div#query-container {
  background: white;
  margin: 0 0 24px -2px;
  padding: 10px 0 10px 2px;
  position: sticky;
  top: 0;
  width: calc(100% + 4px);
  z-index: 1;
}

div#scene-description {
  color: black;
  font-size: 16px;
  margin: 0 0 20px 0;
}

div#scene-description:before {
  color: #c83f3f;
  content: '\2619'; /*  ☙ */
  font-size: 1.4em;
  margin: 0 0.5em 0 0;
  position: relative;
  top: 0.1em;
}

div.stage-direction {
  font-size: 13px;
  font-style: italic;
  line-height: 1.4em;
  margin: 0.8em 0 0.8em 50px;
  text-indent: 30px;
}

/*div.stage-direction + div.stage-direction {
  margin-top: -20px;
}*/

h1 {
  border-bottom: 1px solid #c83f3f;
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
}

h2 {
  color:#666;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 1em 0;
}


h3 {
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  margin: 1.2em 0 1.8em 0;
  white-space: nowrap;
}

html {
    height: 100%;
}

iframe {
  border: none;
  height: calc(100% - 100px);
  opacity: 1;
  overflow: scroll;
/* transition: opacity .5s;*/
  width: 100%;
}

input#query {
  color: black;
  font-family: Palatino, serif;
  font-size: 16px;
  font-weight: 300;
  padding: 4px;
  top: 0;
  width: calc(100% - 15px);
}

label {
  color: #666;
  display: inline-block;
  font-size: 18px;
  margin: 0 0 0 0;
  width: 60px;
}

li {
  list-style-type: none;
}

ol#matches li {
  color:#444;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.3em;
  margin: 1px 0 0.8em 1em;
  position: relative;
  text-indent: -1em;
  width: calc(100% - 100px);
}

ol#matches li::after {
  color: #aaa;
  content: attr(data-citation);
  display: inline-block;
  /* float: right; */
  font-size: 12px;
  height: 12px;
  /* left: 75px; */
  margin: 0;
  padding: 0;
  position: absolute;
  right: -80px;
  top: 0;
}

.persona-group li {
  color:#666;
  font-size: 14px;
  line-height: 1.5em;
}

.scene li {
  line-height: 1.4em;
  margin: 0 0 2px 20px;
  padding: 0 30px 0 32px;
  text-indent: -20px;
}

.speech li {
  font-size: 14px;
  line-height: 1.4em;
  margin: 0 0 2px 20px;
  padding: 0 30px 0 32px;
  text-indent: -20px;
}

.scene li:not(.stage-direction) {
  counter-increment: line-number;
}

.scene li.number::after {
  color: #aaa;
  content: counter(line-number);
  float: right;
  font-size: 12px;
  left: 30px;
  position: relative;
}

.scene li.stage-direction {
  color: black;
  counter-increment: none;
  font-style: italic;
  line-height: 1.4em;
  list-style-type: none;
  margin: 0.8em 0 0.8em 50px;
  padding: 0;
  text-indent: 20px;
}

ol[data-speaker]:before {
  color: black;
  content: attr(data-speaker);
  display: block;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0 0 4px 0;
  text-transform: uppercase;
}

ol.persona-group {
  margin: 0 0 0.8em 0;
  padding: 0;
}

ol.speech {
  margin: 0 0 5px 0;
  padding: 0;
}

ol#matches {
  max-height: calc(100% - 170px);
  padding: 0;
  width: calc(100% + 6px);
}

ol#results {
  border-top: 1px solid #eee;
  margin: 0 0 1em 0;
  padding: 1.4em 0 0 0;
}

section.act {
  border-bottom: 1px solid #c83f3f;
  margin: 0 0 40px 0;
  padding: 0 0 3px 0;
}

section.scene {
/*  border-bottom: 1px solid #eee; */
  counter-reset: line-number;
  margin: 0 0 1.6em 0;
}

section.scene:after {
  color: #c83f3f;
  content: '\2766'; /* ❦ */
  font-size: 30px;
}

section.scene:last-of-type {
  border-bottom: none;
}

section.scene:last-of-type:after {
  content: '';
}

section#dramatis-personae {
  margin: 0 0 1.4em 0;
}

section#preamble {
  border-bottom: 1px solid #c83f3f;
  margin: 0 0 2.4em 0;
  padding: 0 0 1em 0;
}

li span {
  cursor: pointer;
}

li span:hover {
  background-color: yellow;
}

span.stage-direction {
  color: black;
  font-style: italic;
  line-height: 1.4em;
  margin: 0.8em 0 0.8em 50px;
  padding: 0;
  text-indent: 20px;
}
span.stage-direction:before {
  content: '(';
}

span.stage-direction:after {
  content: ')';
}

strong {
  font-weight: 500;
}

@media (min-width: 450px) {
  div.stage-direction {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}

