body {
  color: #444;
  counter-reset: line-number;
  font-family: Palatino, serif;
  margin: 0;
  padding: 20px;
  word-break: break-word;
}

div#container {
  margin: 0 auto 0 auto;
  max-width: 550px;
}

div#scene-description {
  color: black;
  font-size: 16px;
  margin: 0 0 20px 0;
}

div#scene-description:before {
  color: #c83f3f;
  content: '☙';
  font-size: 1.4em;
  margin: 0 0.5em 0 0;
  position: relative;
  top: 0.1em;
}

div.stage-direction {
  font-size: 15px;
  font-style: italic;
  line-height: 1.4em;
  margin: 0.8em 0 0.8em 50px;
  text-indent: 30px;
}

div.stage-direction + div.stage-direction {
  margin-top: -20px;
}

h1 {
  border-bottom: 1px solid #c83f3f;
  color: black;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 1.4em 0;
  padding: 0 0 0.3em 0;
}

h2 {
  color:#666;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 1em 0;
}


h3 {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  margin: 1.2em 0 1.8em 0;
  white-space: nowrap;
}

li {
  list-style-type: none;
}

.persona-group li {
  color:#666;
  font-size: 14px;
  line-height: 1.5em;
}

.speech li {
  line-height: 1.4em;
  margin: 0 0 2px 20px;
  padding: 0 30px 0 32px;
  text-indent: -20px;
}

.scene li:not(.speaker):not(.stage-direction) {
  counter-increment: line-number;
}

.scene li.number::after {
  color: #aaa;
  content: counter(line-number);
  float: right;
  font-size: 12px;
  left: 30px;
  position: relative;
}


.speech li.speaker {
  color: black;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 3px 0 0 0;
  text-transform: uppercase;
}

.speech li.stage-direction {
  color: black;
  counter-increment: none;
  font-style: italic;
  line-height: 1.4em;
  list-style-type:none;
  margin: 0.8em 0 0.8em 50px;
  padding: 0;
  text-indent: 20px;
}

ol.persona-group {
  margin: 0 0 0.8em 0;
  padding: 0;
}

ol.speech {
  margin: 0 0 5px 0;
  padding: 0;
}

section.act {
  border-bottom: 1px solid #c83f3f;
  margin: 0 0 40px 0;
  padding: 0 0 3px 0;
}

section.scene {
/*  border-bottom: 1px solid #eee; */
  counter-reset: line-number;
  margin: 0 0 1.6em 0;
}

section.scene:after {
  color: #c83f3f;
  content: '❦'; /* ☙ */
  font-size: 30px;
}

section.scene:last-of-type {
  border-bottom: none;
}

section.scene:last-of-type:after {
  content: '';
}

section#dramatis-personae {
  margin: 0 0 1.4em 0;
}

section#preamble {
  border-bottom: 1px solid #c83f3f;
  margin: 0 0 2.4em 0;
  padding: 0 0 1em 0;
}

strong {
  font-weight: 500;
}

@media (max-width: 650px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  .speech li.speaker {
    font-size: 11px;
  }
}

@media (max-width: 450px) {
  div.stage-direction {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  .speech li {
    font-size: 14px;
  }
  .persona-group li {
    font-size: 14px;
  }

}